name: neo_glass
description: A revolutionary Flutter glassmorphism package with 6 unique effects - Liquid Morphism, Holographic, Plasma, Crystal, Aurora, and Quantum blur effects.
version: 1.0.1
homepage: https://github.com/smtechviral/neo_glass
repository: https://github.com/smtechviral/neo_glass
issue_tracker: https://github.com/smtechviral/neo_glass/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
